<div style="padding-top: 100px;">
  <div style="display: flex; justify-content: center;">
    <div style="position: relative; width: 45vw;">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Edit employee's leave days</h4><br>
              <%= form_for @user do |f| %>
              <table>
                <tr>
                <td><%= f.label :email, "Email:"%></td>
                <td><%= f.text_field :email , class: 'edit-employee' %></td>
              </tr>
              <tr>
                <td><%= f.label :title, "Title:" %></td>
                <td><%= f.text_field :title , class: 'edit-employee' %> </td>
              </tr>
              <tr>
                <td><%= f.label :total_al, "Annual Leave:" %></td>
                <td><%= f.number_field :total_al , min: 0, step: 0.5, class: 'edit-employee' %> </td>
              </tr>
              <tr>
                <td><%= f.label :bring_forward, 'Brought Forward:'%></td>
                <td><%= f.number_field :bring_forward ,  min: 0, step: 0.5, class: 'edit-employee' %></td>
              </tr>
              <tr>
                <td><%= f.label :replacement_leave ,'Replacement Leave:'%></td>
                <td><%= f.number_field :replacement_leave , min: 0, step: 0.5, class: 'edit-employee' %></td>
              </tr>
              </table>
              <br>
              <%= f.submit 'Update' , class: 'update-btn' %>
            <% end %>
            <%= button_to 'Delete', user_path(@user.id), class: 'btn btn-danger' , method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
