<div style="padding-top: 100px;">
  <div style="display: flex; justify-content: center;">
    <div style="position: relative; width: 45vw;">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Edit employee's leave days</h4><br>
              <%= form_for @user do |f| %>
              <table>
                <tr>
                  <td><%= f.label :email, "Email:"%></td>
                  <td><%= f.text_field :email , class: 'create-employee' %></td>
                </tr>
                <tr>
                  <td><%= f.label :title, "Title:" %></td>
                  <td><%= f.text_field :title , class: 'create-employee' %> </td>
                </tr>
                <tr>
                  <td><%= f.label :total_al, "Annual Leave:" %></td>
                  <td><%= f.number_field :total_al , class: 'create-employee' %> </td>
                </tr>
                <tr>
                  <td><%= f.label :bring_forward, 'Brought Forward:'%></td>
                  <td><%= f.number_field :bring_forward , class: 'create-employee' %></td>
                </tr>
                <tr>
                  <td><%= f.label :replacement_leave ,'Replacement Leave:'%></td>
                  <td><%= f.number_field :replacement_leave , class: 'create-employee' %> </td>
                </tr>
              </table>
            <br>
            <%= f.submit 'Create' , class: 'create-btn' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
